@use 'base';
@use 'button';

.accordion {
  details {
    min-width: 0;
    overflow: hidden;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid var(--dim);
    }

    &[open] {
      summary{
        border-color: var(--bg-summary-open);

        &::after {
          content: "–";
        }
      }
    }

    summary {
      @extend %btn-padding;

      width: 100%;
      box-sizing: border-box;
      list-style: none;

      &::after {
        content: "+";
        font-family: var(--monospace-fonts);
        float: right;
        color: var(--text-color-muted);
        font-weight: bold;
        margin-top: -0.15rem;
      }

      & + * {
        max-width: calc(100% - 0.625rem);
        margin: 0 0 10px 10px;
        box-sizing: border-box;
        overflow-wrap: anywhere;
      }

      & + ul {
        max-width: calc(100% - 1.3rem);
        margin-left: 1.3rem;
        padding-left: 1.25rem;

        li {
          overflow-wrap: anywhere;
        }
      }
    }

    section {
      ul {
        margin: 0 10px;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
    }
  }
}
