@use 'base';
@use 'button';

.accordion {
  details {
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid var(--dim);
    }

    &[open] {
      summary{
        border-color: var(--bg-summary-open);

        &::after {
          content: "–";
        }
      }
    }

    summary {
      @extend %btn-padding;

      list-style: none;

      &::after {
        content: "+";
        font-family: var(--monospace-fonts);
        float: right;
        color: var(--text-color-muted);
        font-weight: bold;
        margin-top: -0.15rem;
      }

      & + * {
        margin: 0 0 10px 10px;
      }

      & + ul {
        margin-left: 1.3rem;
      }
    }

    section {
      ul {
        margin: 0 10px;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
    }
  }
}
