@use 'base';

.alert, [role="alert"].alert {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: var(--bg-primary);
  color: #000;

  &::before {
    display: inline-flex;
    flex: 0 0 0.875rem;
    align-items: center;
    justify-content: center;
    width: 0.875rem;
    height: 0.875rem;
    margin-top: 0.125rem;
    box-sizing: border-box;
    transform: translateX(-0.0625rem);
    border: 1px solid currentColor;
    border-radius: 50%;
    content: "i";
    font-family: var(--sans-serif-fonts);
    font-size: var(--fs-2);
    font-weight: 400;
    line-height: 1;
  }

  &.success {
    border-color: var(--success-color);
    background-color: var(--bg-success-color);
    color: var(--success-color);

    h1, h2, h3, h4 {
      color: var(--success-color);
    }

    p {
      color: var(--success-color);
    }
  }

  &.success::before {
    content: "✓";
    font-size: var(--fs-1);
  }

  &.warning::before {
    content: "!";
  }

  &.danger::before {
    content: "×";
  }

  > div {
    min-width: 0;
  }

  h1, h2, h3, h4 {
    margin: 0;
    background-color: transparent;
    color: #000;
    font-family: var(--sans-serif-fonts);
    font-size: var(--fs-2);
    font-weight: 700;
    line-height: var(--base-line-height);
  }

  p {
    margin: 0;
    background-color: transparent;
    color: #737373;
    line-height: var(--base-line-height);
  }

  p + p {
    margin-top: 0.5rem;
  }
}

body.dark-mode .alert {
  border-color: var(--border-color-primary);
  color: var(--text-color-primary);

  h1, h2, h3, h4 {
    color: var(--text-color-primary);
  }

  p {
    color: var(--text-color-muted);
  }
}
