.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--primary-5);
  color: var(--primary-0);
  font-family: var(--sans-serif-fonts);
  font-size: var(--fs-2);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar.small {
  width: 1.5rem;
  height: 1.5rem;
  font-size: var(--fs-1);
}

.avatar.large {
  width: 2.5rem;
  height: 2.5rem;
  font-size: var(--fs-3);
}
