@use 'base';

button {
  background-color: var(--primary-8);
  color: var(--primary-2);
  padding: 8px 10px;
  font-size: base.$base-font-size;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    opacity: 0.9;
  }

  &.btn-secondary {
      background-color: var(--orange-1);
      color: var(--orange-8);
  }

  &.btn-secondary-outline {
      background-color: var(--bg-primary);
      color: var(--orange-4);
      border: 1px solid var(--orange-4);
  }

  &.btn-danger {
      background-color: var(--red-8);
      color: var(--red-1);
  }

  &.btn-danger-outline {
      background-color: var(--bg-primary);
      border: 1px solid var(--red-4);
      color: var(--red-4);
  }

  &.btn-outline {
      background-color: var(--bg-primary);
      border: 1px solid var(--primary-4);
      color: var(--primary-4);
  }

  // size
  &.btn-small {
    font-size: 12px;
    padding: 6px 8px;
  }

  &.btn-large {
    font-size: 16px;
    padding: 12px 16px;
  }

  &.btn-extra {
    font-size: 20px;
    padding: 15px 30px;
  }
}

a {
  &:link {
    color: var(--violet-8);
  }

  &:visited {
    color: var(--grape-8);
  }
}
