@use 'base';

$btn-padding: 8px 10px;
$btn-padding-small: 6px 8px;
$btn-padding-large: 12px 16px;

%btn-padding {
  padding: $btn-padding;
}

%btn-padding-small {
  padding: $btn-padding-small;
}

%btn-padding-large {
  padding: $btn-padding-large;
}

%primary-button {
  background-color: var(--primary-8);
  color: var(--primary-2);
  padding: 8px 10px;
  font-size: base.$base-font-size;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
}

button, .btn {
  @extend %primary-button;

  &:hover {
    background-color: var(--primary-7);
  }

  &.btn-secondary {
      background-color: var(--orange-1);
      color: var(--orange-8);
  }

  &.btn-secondary-outline {
      background-color: var(--bg-primary);
      color: var(--orange-4);
      border: 1px solid var(--orange-4);
  }

  &.btn-danger {
      background-color: var(--red-8);
      color: var(--red-2);

      &:hover {
        background-color: var(--red-7);
      }
  }

  &.btn-danger-outline {
      background-color: var(--bg-primary);
      border: 1px solid var(--red-4);
      color: var(--red-4);
  }

  &.btn-outline {
      background-color: var(--bg-primary);
      border: 1px solid var(--primary-5);
      color: var(--primary-5);

      &:hover {
        border: 1px solid var(--primary-4);
      }
  }

  // size
  &.btn-small {
    font-size: 12px;
    padding: 6px 8px;
  }

  &.btn-large {
    font-size: 16px;
    padding: 12px 16px;
  }

  &.btn-extra {
    font-size: 20px;
    padding: 15px 30px;
  }
}

a {
  &:link {
    color: var(--violet-8);
  }

  &:visited {
    color: var(--grape-8);
  }
}
