@use 'base';

.detail-list {
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) 2fr;
  gap: 0.75rem 1.25rem;
  margin: 0;

  dt {
    margin: 0;
    font-family: var(--serif-fonts);
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--text-color-muted);
  }

  dd {
    margin: 0;
    color: var(--text-color-primary);
    word-break: break-word;
  }
}
