@use 'base';

input:not([type="range"]), select, textarea {
  padding: 6px 10px;
  border: 1px solid var(--text-color-muted);

  &[aria-invalid="false"] {
    border: 1px solid var(--green-8);

    & + span, & + small {
      color: var(--green-8);
    }
  }

  &[aria-invalid="true"] {
    border: 1px solid var(--red-8);

    & + span, & + small {
      color: var(--red-8);
    }
  }
}

form {
  /* control wrapper */
  p {
    margin: 0 0 0.5rem 0;
    display: flex;
    flex-direction: column;
  }

  label {
    display: block;
    line-height: 1.75;
    font-family: var(--serif-fonts);
    font-size: 0.8rem;

    &:not(:first-of-type) {
      margin-top: 0.8rem;
    }

    &:has([type="checkbox"]), &:has([type="radio"]) {
      margin-top: 0.25rem;
    }

    /* margin-top of label when its under a status message */
    &:has(small) + label { margin-top: 0.3rem; }

    &:has([aria-invalid="false"]) {}

    small {
      font-family: var(--sans-serif-fonts);
      line-height: 0.5;
    }

    select, input:not([type="checkbox"]):not([type="radio"]) {
      width: calc(100% - 1.4rem);
    }

    &.switch {
      display: flex;
      align-items: center;
      color: var(--text-color-primary);

      [type="checkbox"] {
        appearance: none;
        background-color: var(--grey-4);
        height: 1.25rem;
        width: 2.25rem;
        border: 1px solid var(--grey-1);
        border-radius: 1.25rem;
        margin-right: 0.5rem;

        &:not([aria-invalid]) {
          border-color: var(--grey-4);
        }

        &:before {
          display: block;
          aspect-ratio: 1;
          margin-left: -0.4rem;
          margin-top: -0.13rem;
          height: 150%;
          border-radius: 50%;
          background-color: var(--bg-primary);
          content: "";
          transition: margin 0.1s ease-in-out;
        }

        &:checked {
          background-color: var(--green-7);
          border-color: var(--green-1);
          background-image: none;

          &::before {
            margin-inline-start: 0.6rem;
          }
        }

        &[disabled] {
          background-color: var(--dim);
          border-color: var(--dim);
        }
      }
    }
  }

  div {
    display: flex;
    align-items: baseline;
    * + * {
      margin-left: 0.25rem;
    }
  }

  fieldset {
    border: 1px solid var(--dim);
    border-radius: 5px;

    legend {
      font-weight: 700;
      font-family: var(--serif-fonts);
      margin-left: -0.3rem;
    }
  }

  /* bottom most section of the form */
  footer {
    padding: var(--fs-1);
  }

  textarea {
    font-family: var(--sans-serif-fonts);
  }

  input[type=number], input[type=tel] {
    font-family: var(--monospace-fonts);
  }
}
