@use 'base';

input, select, textarea {
  padding: 6px 10px;
  border: 1px solid var(--text-color-muted);

  &.valid {
    border: 1px solid var(--green-8);
  }

  &.error {
    border: 1px solid var(--red-8);

    & + span, & + small {
      color: var(--red-8);
    }
  }
}

form {
  /* control wrapper */
  p {
    margin: 0 0 0.5rem 0;
    display: flex;
    flex-direction: column;

    label {
      line-height: 1.75;
      font-family: var(--serif-fonts);
      font-size: 0.8rem;
    }
  }

  label.switch {
    display: flex;
    align-items: center;
    color: var(--text-color-primary);

    [type="checkbox"] {
      appearance: none;
      background-color: var(--grey-4);
      height: 1.25rem;
      width: 2.25rem;
      border: 1px solid var(--grey-1);
      border-radius: 1.25rem;
      margin-right: 0.5rem;

      &:not([aria-invalid]) {
        border-color: var(--grey-4);
      }

      &:before {
        display: block;
        aspect-ratio: 1;
        margin-left: -0.4rem;
        margin-top: -0.13rem;
        height: 150%;
        border-radius: 50%;
        background-color: var(--bg-primary);
        content: "";
        transition: margin 0.1s ease-in-out;
      }

      &:checked {
        background-color: var(--green-7);
        border-color: var(--green-1);
        background-image: none;

        &::before {
          margin-inline-start: 0.6rem;
        }
      }

      &[disabled] {
        background-color: var(--dim);
        border-color: var(--dim);
      }
    }
  }

  div {
    display: flex;
    align-items: baseline;
    * + * {
      margin-left: 0.25rem;
    }
  }

  fieldset {
    border: 1px solid var(--dim);
    border-radius: 5px;

    legend {
      font-weight: 700;
      font-family: var(--serif-fonts);
      margin-left: -0.3rem;
    }
  }

  textarea {
    font-family: var(--sans-serif-fonts);
  }

  input[type=number], input[type=tel] {
    font-family: var(--monospace-fonts);
  }
}
