@use 'base';

$fixed-sidebar-w:  25ch;

.flex-stretch {
  display: flex;
  flex-basis: auto;

  &.gap {
    gap: var(--fs-1);
  }

  & > * {
    flex-grow: 1;
    align-self: flex-end;
  }
}

.flex-sidebar {
  display: flex;
  width: 100%;

  &.gap {
    gap: var(--fs-1);
  }

  & > *:first-child {
    width: $fixed-sidebar-w;
    flex-shrink: 0;
  }

  & > *:last-child {
    flex-grow: 1;
  }

  &.fixed { }

  &.fixed > *:first-child{
    position: fixed;
    top: 0;

    &.full-h {
      height: 100vh;
    }
  }

  &.fixed > *:last-child {
    margin-left: calc($fixed-sidebar-w + var(--fs-1));
    width: calc(100% - $fixed-sidebar-w);
  }

  &.column {
    flex-direction: column;

    & > *:first-child {
      width: auto;
      height: var(--fs-9);
      flex-grow: 1;
    }

    & > *:last-child {
      flex-grow: 1;
    }
  }
}

.flex-sidebar-right {
  display: flex;
  width: 100%;

  &.gap {
    gap: var(--fs-1);
  }

  & > *:first-child {
    flex-grow: 1;
  }

  & > *:last-child {
    width: $fixed-sidebar-w;
    flex-shrink: 0;
  }
}

.flex-golden {
  display: flex;
  width: 100%;

  &.gap {
    gap: var(--fs-1);
  }

  & > *:first-child {
    width: 33%;
    flex-shrink: 0;
  }

  & > *:last-child {
    flex-grow: 1;
  }
}

.flex-golden-right {
  display: flex;
  width: 100%;

  &.gap {
    gap: var(--fs-1);
  }

  & > *:first-child {
    flex-grow: 1;
  }

  & > *:last-child {
    width: 33%;
    flex-shrink: 0;
  }
}

.full-w {
  width: 100%;
}

.flex {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;

  * + * {
    margin-left: 0.3rem;
  }
}
