@use 'base';
@use 'button';

%menu-link-padding {
  padding: 6px 10px;
  cursor: pointer;
}

nav.basic {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      padding: button.$btn-padding-large;
      cursor: pointer;
      color: var(--color-primary);

      list-style: none;

      &:hover {
        color: var(--color-primary-accent);
        text-decoration: underline;
      }

      &.active {
        color: var(--text-color-primary);
      }

      a {
        text-decoration: none;
        color: var(--text-primary-color);
      }
    }
  }

  details {
    padding: button.$btn-padding-large;

    summary {
      list-style: none;
      cursor: pointer;
      color: var(--primary);
    }

    ul {
      position: absolute;
      background: white;
      display: block;

      margin-left: -1rem;
      margin-top: 0.5rem;

      background-color: var(--bg-primary);
    }

  }
}

/* side menu */
nav.sidemenu {
  min-width: 180px;

  /* menu group name */
  p {
    font-family: var(--serif-fonts);
    color: var(--text-color-muted);
    letter-spacing: calc(var(--fs-2) * 0.05);
    padding: 6px 0px;
    margin: 0 0 -0.25rem 0;
  }

  details {

    &[open] {
      summary{
        &::after {
          content: "–";
        }
      }
    }

    summary {
      @extend %menu-link-padding;
      list-style: none;

      &::after {
        content: "+";
        font-family: var(--monospace-fonts);
        float: right;
        color: var(--text-color-muted);
        font-weight: bold;
        margin-top: -0.15rem;
      }

      &:hover {
        background-color: var(--bg-summary-hover);
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: calc(10px + 0.5rem);

      li {
        @extend %menu-link-padding;

        border-left: 1px solid var(--border-nested-link);
        align-items: baseline;

        a {
          color: var(--text-color-primary);
          text-decoration: none;
          padding: 0;
        }
      }
    }

  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {

      &:hover {
        background-color: var(--bg-summary-hover);
      }

      &.active {
        background-color: var(--bg-list-active);
      }

      a {
        @extend %menu-link-padding;

        color: var(--text-color-primary);
        text-decoration: none;
        display: block;

        &:visited {
          color: var(--text-color-primary);
        }
      }
    }
  }
}

/* tab */

nav.tab {
  ul {
    display: flex;
    margin: 0;

    li {
      list-style: none;

      &.active {
        border-bottom: 0;
        border-bottom: 2px solid var(--primary-4);
      }

      a {
        @extend %menu-link-padding;
        display: block;
      }
    }
  }

  section {
    margin: 0;
    padding: 8px 12px;
    border-top: 1px solid var(--text-color-primary);
  }

  &.tab-radio {
    display: flex;
    flex-wrap: wrap;

    /* input x label */
    input[type="radio"] {
      display: none;

      &:checked + label {
        border-bottom: 2px solid var(--primary-4);
      }

      &:checked + label + section {
        display: block;
      }
    }

    label:first-of-type {

      &:after {
        width: 10px;
        display: block;
        border: 1px solid red;
      }
    }

    label {
      @extend %menu-link-padding;
      display: block;
    }

    section {
      border-top: 1px solid var(--text-color-primary);
      display: none;
      padding: 8px 10px;
      flex-grow: 1;
      width: 100%;
      order: 99;
    }
  }

}

/* breadcrumbs */

nav.breadcrumbs {
  ul {
    display: flex;

    li {
      display: flex;
      align-items: baseline;
      list-style: none;

      &.active { }

      &:not(:last-child):after {
        content: " / ";
      }

      &:last-child {
        a {
          color: var(--text-color-muted);
          cursor: default;

          &:hover {
            text-decoration: none;
            pointer-events: none;
          }
        }
      }

      a {
        @extend %menu-link-padding;

        color: var(--primary-4);
        display: block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

nav.pagination {
  ul {
    display: flex;

    li {
      display: flex;
      align-items: baseline;
      list-style: none;
      margin-right: 0.2rem;

      &.disabled {
        a {
          color: var(--text-color-muted);
          cursor: default;
          pointer-events: none;
        }
      }

      &.active {
        a {
          background-color: var(--dim);
        }
      }

      /* for ... */
      span {
        @extend %menu-link-padding;
        display: block;
      }

      a {
        @extend %menu-link-padding;
        text-decoration: none;
        border: 1px solid var(--dim);
        border-radius: 5px;

        color: var(--primary-4);
        display: block;

        &:hover {
          background-color: var(--dim);
        }
      }
    }
  }
}
