@use 'base';

aside.menu {
  p {
    font-family: var(--serif-fonts);
    color: var(--neutral-8);
    font-size: var(--fs-2);
    letter-spacing: calc(var(--fs-1) * 0.15);
    padding: 0 0.3rem;
    margin: 10px 0;
  }

  details {
    padding-left: 20px;

    &[open] {
      summary{

        &::before {
          font-family: var(--monospace-fonts);
          content: "–";
        }
      }
    }

    summary {
      font-size: var(--fs-2);
      color: var(--neutral-8);
      list-style: none;
      padding: 10px 0px;
      cursor: pointer;

      span {
        font-family: var(--serif-fonts);
        margin-left: 0.3rem;
        text-decoration: none;
        letter-spacing: calc(var(--fs-1) * 0.15);
      }

      &::before {
        font-family: var(--monospace-fonts);
        content: ">";
        color: var(--grey-4);
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 0.3rem;
      border-left: 1px solid var(--grey-3);

      li {
        padding: 10px 14px;
        cursor: pointer;

        &:hover {
          background-color: var(--grey-0);
        }

        a {}

        /* second level menu */
        ul {
        }
      }
    }

  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0.3rem;

    li {
      padding: 10px 14px;
      cursor: pointer;

      &:hover {
        background-color: var(--grey-0);
      }

      a {}

      /* second level menu */
      ul {
      }
    }
  }


}
