@use 'base';

table {
  border: 0;
  border-collapse: collapse;
  margin: 0.5rem 0;

  &.fixed-header {
    border-collapse: separate;

    thead {
      outline: 1px solid var(--text-color-primary);
      position: sticky;
      background-color: var(--bg-primary);
      top: 1px;
    }
  }

  &.fixed-first-col {
    td:first-of-type, th:first-of-type {
      position: sticky;
      left: 0;
      background-color: var(--bg-primary-alt);
      border-right: 2px solid var(--text-color-muted);
    }

    /* make the table one line row */
    td, th {
      white-space: nowrap;
    }

  }

  thead {
    border-bottom: 2px solid var(--border-color-primary);
    th {
      font-family: var(--serif-fonts);
      color: var(--text-color-primary);
      padding: 6px 10px;
      word-break: auto-phrase;

      a {
        font-family: var(--serif-fonts);
        text-decoration: none;

        &:link,
        &:visited {
          color: var(--violet-8);
          text-decoration: none;
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--border-color-muted);

      &:hover {
        background-color: var(--bg-list-hover);
      }
    }

    td {
      padding: 4px 8px;
      word-break: auto-phrase;
    }
  }

  tfoot {
      border-top: 2px solid var(--border-color-primary);
  }

  &.striped {
    tbody {
      tr:nth-child(odd) {
        background-color: var(--dim);
      }
    }
  }
}
