@use 'base';

table {
  border: 0;
  border-collapse: collapse;
  margin: 0.5rem 0;

  &.fixed-header {
    border-collapse: separate;
    thead {
      outline: 1px solid var(--text-color-primary);
      position: sticky;
      background-color: var(--bg-primary);
      top: 1px;
    }
  }

  thead {

    th {
      font-family: var(--serif-fonts);
      color: var(--text-color-primary);
      padding: 6px 10px;
      word-break: auto-phrase;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--border-color-muted);
    }

    td {
      padding: 4px 8px;
      word-break: auto-phrase;
    }
  }

  tfoot {
      border-top: 2px solid var(--border-color-primary);
  }

  &.striped {
    tbody {
      tr:nth-child(odd) {
        background-color: var(--dim);
      }
    }
  }
}
