body, div, section, main, p {
  font-size: var(--fs-2);
  color: var(--text-color-primary);
  background-color: var(--bg-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--serif-fonts);
  color: var(--text-color-primary);
  margin: 0.5rem 0;
  padding: 0;
}

h1, h2, h3 {
  line-height: 1;
}

h4, h5, h6 {
  line-height: 1.5;
}

h1 {
  font-size: var(--fs-7);
}

h2 {
  font-size: var(--fs-6);
}

h3 {
  font-size: var(--fs-5);
}

h4 {
  font-size: var(--fs-4);
}

h5 {
  font-size: var(--fs-3);
}

h6 {
  font-size: var(--fs-2);
}

hgroup {
  h2 {
    margin-bottom: 0;
  }

  p {
   line-height: var(--base-line-height);
   margin-top: 0;
   color: var(--text-color-muted);
  }
}


body, div, span, p, button, a {
  font-family: var(--sans-serif-fonts);
}

p {
  line-height: var(--base-line-height);
  margin: 0.67em 0;
}

/* font utilities */
.ft-sans-serif {
  font-family: var(--sans-serif-fonts);
}

.ft-serif {
  font-family: var(--serif-fonts);
}

.ft-mono {
  font-family: var(--monospace-fonts);
}

.ft-fantasy {
  font-family: var(--fantasy-fonts);
}

.ft-cursive {
  font-family: var(--cursive-fonts);
  font-size: 150%;
}
