{% extends "layout/base.html" %}

{% block inline_style %}
#features {
  ul {
    margin-left: 1rem;
    li { line-height: 1.5; }
  }
}

#proj-name {
  font-size: var(--fs-9);
  font-weight: 300;
}
{% endblock %}

{% block content %}
<section>
  <hgroup>
    <h1 id="proj-name" class="ft-cursive">Farga</h1>
    <p>Farga – A Lightweight CSS Framework</p>
  </hgroup>

  <section id="features">
    <h2>Features</h2>
    <ul>
      <li>Lightweight yet versatile design</li>
      <li>Comprehensive design system</li>
      <li>Customizable CSS variables</li>
      <li>Fully responsive layouts</li>
      <li>Optimized for fast rendering</li>
      <li>Light and dark mode support</li>
      <li>Classless approach by default</li>
      <li>Essential admin components (Data Table, Form)</li>
      <li>Web-safe fonts prioritized</li>
      <li>Minimal animations with excellent user experience</li>
    </ul>
  </section>
</section>
{% endblock %}
