{% extends "layout/base.html" %}

{% block inline_style %}
{% endblock %}

{% block content %}
<div>
  <hgroup>
    <h1>Pagination</h1>
    <p>A basic pagination component for navigating through multiple pages. Unavailable pages are <code>&lt;span aria-disabled="true"&gt;</code> rather than dead links.</p>
  </hgroup>

  <br/>
  {% set pagination %}
  <nav class="pagination" aria-label="Pagination">
    <ul>
        <li class="disabled"><span aria-disabled="true">Previous</span></li>
        <li class='active' aria-current="page"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><span>...</span></li>
        <li><a href="#">10</a></li>
        <li><a href="#">Next</a></li>
      </ul>
   </nav>{% endset %}

  {{ pagination }}

  <pre>
    {{ pagination | e }}
  </pre>
</div>
{% endblock %}
