{% extends "layout/base.html" %}

{% block inline_style %}
{% endblock %}

{% block content %}
<div>
  <hgroup>
    <h1>Side Menu</h1>
    <p>A menu that typically appears on the left side of the screen. It supports second-level menu expansion.</p>
  </hgroup>
  <div>
    {% set sidemenu %}
    <section style="max-width: 200px;">
    <nav class="sidemenu">
      <p>General</p>
      <ul>
          <li><a href="#">Dashboard</a></li>
          <li class="active" aria-current="page"><a href="#">Customers</a></li>
          <li><a href="#">Entity</a></li>
          <li><a href="#">Feed</a></li>
          <li><a href="#">News</a></li>
      </ul>
      <details open>
        <summary>
          <span>Setting</span>
        </summary>
        <ul>
          <li class="active" aria-current="page"><a href="#">Account</a></li>
          <li>Preference</li>
        </ul>
      </details>

      <p>Documentation</p>
      <ul>
          <li><a href="#">Introduction</a></li>
          <li><a href="#">Get Started</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">Changelog</a></li>
      </ul>
    </nav>
    </section>
    {% endset %}

    {{ sidemenu }}

    <br/>
    <details open>
      <summary>Example Code</summary>
      <pre>{{ sidemenu | e }}</pre>
    </details>
  </div>
</div>
{% endblock %}
