{% extends "layout/base.html" %}

{% block inline_style %}
#accordion-1 {
    width: 250px;
}
{% endblock %}

{% block content %}
<div>
  <h1>Accordion</h1>

  {% set accordion %}
  <details name="acc-1" open>
      <summary>Accordion 1</summary>
      <ul>
        <li>First list</li>
        <li>Second list</li>
      </ul>
   </details>
  <details name="acc-2" open>
      <summary>Accordion 2</summary>
      <p>
      With paragraph
      </p>
   </details>
  {% endset %}

  <div id="accordion-1" class="accordion">
      {{ accordion }}
  </div>
</div>
{% endblock %}
