{% extends "layout/base.html" %}

{% block inline_style %}
#features {
  ul {
    margin-left: 1rem;
    li { line-height: 1.5; }
  }
}
{% endblock %}

{% block content %}
<section>
  <hgroup>
    <h1>Farga</h1>
    <p>Lightweight CSS framework</p>
  </hgroup>

  <section id="features">
    <h2>Features</h2>
    <ul>
      <li>Focus on lightweight yet versatile</li>
      <li>Design System</li>
      <li>CSS variables</li>
      <li>Responsive</li>
      <li>Light dark mode</li>
      <li>Classless approach first</li>
      <li>Basic admin components</li>
      <li>Web safe fonts first</li>
      <li>Less animation yet retain experience</li>
    </ul>
  </section>
</section>
{% endblock %}
