{% extends "layout/base.html" %}

{% block inline_style %}
{% endblock %}

{% block content %}
<div>
  <h1>Navigation</h1>

  <hgroup>
    <h2>Side Menu</h2>
    <p>The menu that usually reside on the left side of the screen</p>
  </hgroup>
  <div>
    {% set sidemenu %}
    <section style="width: 200px;">
    <nav class="sidemenu">
      <p>General</p>
      <ul>
          <li><a>Dashboard</a></li>
          <li class="active"><a>Customers</a></li>
          <li><a>Entity</a></li>
          <li><a>Feed</a></li>
          <li><a>News</a></li>
      </ul>
      <details open>
        <summary>
          <span>Setting</span>
        </summary>
        <ul>
          <li class="active">Account</li>
          <li>Preference</li>
        </ul>
      </details>

      <p>Documentation</p>
      <ul>
          <li><a>Introduction</a></li>
          <li><a>Get Started</a></li>
          <li><a>Tutorials</a></li>
          <li><a>Changelog</a></li>
      </ul>
    </nav>
    </section>
    {% endset %}

    {{ sidemenu }}

    <br/>

    <details open>
      <summary>Example Code</summary>
      <pre>{{ sidemenu | e }}</pre>
    </details>
  </div>

  <hgroup>
    <h2>Tabs</h2>
    <p>Tab has 2 variations</p>
  </hgroup>

  <hgroup>
    <h3>1. Normal Tabs</h3>
    <p>This tab work with javascript for toggling between tabs</p>
  </hgroup>

  {% set normal_tabs %}
  <nav class="tab">
    <ul>
        <li><a>Introduction</a></li>
        <li class='active'><a>Get Started</a></li>
        <li><a>Tutorials</a></li>
        <li><a>Changelog</a></li>
    </ul>
    <section>
        <h3>Accessibility Features:</h3>
        <p>
        Keyboard navigation with arrow keys, Home, and End keys
        Proper focus management
        Screen reader support through ARIA attributes
        Clear visual indicators for active and focused states
        </p>
    </section>
  </nav>
  {% endset %}
  {{ normal_tabs }}

  <details>
    <summary>Example Code</summary>
    <pre>{{ normal_tabs | e }}</pre>
  </details>

  <hgroup>
    <h3>2. Tabs using radio input</h3>
    <p>
      This semantic doest not require javascript to switch active content to show according to the tab.
      <a href="https://dev.to/joxx/building-a-tab-component-with-pure-css-using-radio-and-label-tags-200b">Building a tab component with Pure CSS using Radio and Label Tags</a>
    </p>
  </hgroup>

  {% set radio_tabs %}
  <nav class="tab tab-radio">
      <input type="radio" name="tab" id="tab1" checked />
      <label for="tab1">Introduction</label>
      <section>
          <h3>Introduction Content</h3>
          <p>
            Introduction Features:
            Keyboard navigation with arrow keys, Home, and End keys
            Proper focus management
            Screen reader support through ARIA attributes
            Clear visual indicators for active and focused states
          </p>
      </section>

      <input type="radio" name="tab" id="tab2" />
      <label for="tab2">Get Started</label>
      <section>
          <h3>Get Started Content</h3>
          <p>
            Get started Features:
            Keyboard navigation with arrow keys, Home, and End keys
            Proper focus management
            Screen reader support through ARIA attributes
            Clear visual indicators for active and focused states
            </p>
      </section>

      <input type="radio" name="tab" id="tab3" />
      <label for="tab3">Tutorials</label>
      <section>
          <h3>Tutorials Content</h3>
          <p>
            Tutorials Features:
            Keyboard navigation with arrow keys, Home, and End keys
            Proper focus management
            Screen reader support through ARIA attributes
            Clear visual indicators for active and focused states
          </p>
      </section>

      <input type="radio" name="tab" id="tab4" />
      <label for="tab4">Changelog</label>
      <section>
          <h3>Changelog Content</h3>
          <p>
            Changelog Features:
            Keyboard navigation with arrow keys, Home, and End keys
            Proper focus management
            Screen reader support through ARIA attributes
            Clear visual indicators for active and focused states
          </p>
      </section>
  </nav>
  {% endset %}
  {{ radio_tabs }}
  <details>
    <summary>Example Code</summary>
    <pre>{{ radio_tabs | e }}</pre>
  </details>


  <h2>Breadcrump</h2>

  {% set breadcrumbs %}
  <nav class="breadcrumbs">
    <ul>
        <li><a>Introduction</a></li>
        <li><a>Get Started</a></li>
        <li><a>Tutorials</a></li>
        <li><a>Changelog</a></li>
    </ul>
  </nav>
  {% endset %}

  {{ breadcrumbs }}

  <pre>
    {{ breadcrumbs | e }}
  </pre>

  <h2>Pagination</h2>

  {% set pagination %}
  <nav class="pagination">
    <ul>
        <li class="disabled"><a href="#">Previous</a></li>
        <li class='active'><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><span>...</span></li>
        <li><a href="#">10</a></li>
        <li><a href="#">Next</a></li>
      </ul>
   </nav>
  {% endset %}

  {{ pagination }}

  <pre>
    {{ pagination | e }}
  </pre>

  <h2>Navigation</h2>
  {% set navigation %}
  <nav class="horizontal">

    <ul>
      <li><a href='#'>Home</a></li>
    </ul>

    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Products</a></li>
    </ul>
  </nav>
  {% endset %}

  {{ navigation }}

  <br/>
  <details open>
      <summary>Example Code</summary>
      <pre>{{ navigation | e}} </pre>
  </details>
</div>
{% endblock %}
