{% extends "layout/base.html" %}

{% block inline_style %}
.flex {
    display: flex;
}
{% endblock %}

{% block content %}
<div>
  <h1>Navigation</h1>

  <h2>Side Menu</h2>
  <div>
      <aside class="menu">
        <p>General</p>
        <ul>
            <li><a>Dashboard</a></li>
            <li class="active"><a>Customers</a></li>
            <li><a>Entity</a></li>
            <li><a>Feed</a></li>
            <li><a>News</a></li>
        </ul>
        <details open>
          <summary>
            <span>Setting</span>
          </summary>
          <ul>
            <li class="active">Account</li>
            <li>Preference</li>
          </ul>
        </details>

        <p>Documentation</p>
        <ul>
            <li><a>Introduction</a></li>
            <li><a>Get Started</a></li>
            <li><a>Tutorials</a></li>
            <li><a>Changelog</a></li>
        </ul>

      </aside>
  </div>

  <h2>Tabs</h2>
  <h2>Breadcrump</h2>
  <h2>Pagination</h2>
</div>
{% endblock %}
