{% extends "layout/base.html" %}

{% block inline_style %}
{% endblock %}

{% block content %}
<div>
  <hgroup>
    <h1>Tabs</h1>
    <p>Tab has 2 variations</p>
  </hgroup>

  <hgroup>
    <h3>1. Basic Tabs</h3>
    <p>This tab work with javascript for toggling between tabs</p>
  </hgroup>

  {% set normal_tabs %}
  <nav class="tab">
    <ul>
        <li><a>Introduction</a></li>
        <li class='active'><a>Get Started</a></li>
        <li><a>Tutorials</a></li>
        <li><a>Changelog</a></li>
    </ul>
    <section>
        <h3>Accessibility Features:</h3>
        <p>
        Keyboard navigation with arrow keys, Home, and End keys
        Proper focus management
        Screen reader support through ARIA attributes
        Clear visual indicators for active and focused states
        </p>
    </section>
  </nav>
  {% endset %}
  {{ normal_tabs }}

  <details>
    <summary>Example Code</summary>
    <pre>{{ normal_tabs | e }}</pre>
  </details>

  <hgroup>
    <h3>2. Radio Tabs</h3>
    <p>
      This semantic doest not require javascript to switch active content to show according to the tab.
      <a href="https://dev.to/joxx/building-a-tab-component-with-pure-css-using-radio-and-label-tags-200b">Building a tab component with Pure CSS using Radio and Label Tags</a>
    </p>
  </hgroup>

  {% set radio_tabs %}
  <nav class="tab tab-radio">
      <input type="radio" name="tab" id="tab1" checked />
      <label for="tab1">Introduction</label>
      <section>
          <h3>Introduction Content</h3>
          <p>
            Introduction Features:
            Keyboard navigation with arrow keys, Home, and End keys
            Proper focus management
            Screen reader support through ARIA attributes
            Clear visual indicators for active and focused states
          </p>
      </section>

      <input type="radio" name="tab" id="tab2" />
      <label for="tab2">Get Started</label>
      <section>
          <h3>Get Started Content</h3>
          <p>
            Get started Features:
            Keyboard navigation with arrow keys, Home, and End keys
            Proper focus management
            Screen reader support through ARIA attributes
            Clear visual indicators for active and focused states
            </p>
      </section>

      <input type="radio" name="tab" id="tab3" />
      <label for="tab3">Tutorials</label>
      <section>
          <h3>Tutorials Content</h3>
          <p>
            Tutorials Features:
            Keyboard navigation with arrow keys, Home, and End keys
            Proper focus management
            Screen reader support through ARIA attributes
            Clear visual indicators for active and focused states
          </p>
      </section>

      <input type="radio" name="tab" id="tab4" />
      <label for="tab4">Changelog</label>
      <section>
          <h3>Changelog Content</h3>
          <p>
            Changelog Features:
            Keyboard navigation with arrow keys, Home, and End keys
            Proper focus management
            Screen reader support through ARIA attributes
            Clear visual indicators for active and focused states
          </p>
      </section>
  </nav>
  {% endset %}
  {{ radio_tabs }}
  <details>
    <summary>Example Code</summary>
    <pre>{{ radio_tabs | e }}</pre>
  </details>

</div>
{% endblock %}
